.container
  %h1 Question time...

  .well
    = MarkdownPresenter.new(@question.question, self).to_html

    = form_for :answer, url: answer_question_path(@question) do |f|
      .form-group
        = f.text_field :answer, class: 'form-control'

      = f.submit "Submit answer", class: 'btn btn-default'
